input[type="file"]::file-selector-button {
  height: 32px;
  cursor: pointer;
  border: 2px solid rgb(91, 194, 231);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: rgb(91, 194, 231);
  transition: 1s;
  color: white;
}

input[type="file"]::-ms-browse:hover {
  background-color: #81ecec;
  border: 2px solid rgb(56, 200, 252);
  color: white;
}
