.privacy-statement-container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  height: 80vh;
  overflow-y: auto;
}

.privacy-statement-content {
  text-align: left;
  font-size: 14px;
  color: rgb(50, 49, 48);
}
