.wrapper-body {
  min-height: calc(100% - 110px);
  margin-bottom: 0px;
}

.container {
  width: 1170px;
}
.page {
  margin: 20px;
}

.view {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
