.formContainer {
  background-color: #ffffff61;
  box-shadow: 0 0 11px rgb(0 0 0 / 12%);
  /* max-width: 700px;
  box-sizing: border-box;
  display: block;
  position: relative;
  text-align: left; */
}

.formTitle {
  position: relative;
  background: #000000;
}
