.App {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  padding-top: 30px;
}

.container {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  border-radius: 3px;
}

.header-container {
  position: relative;
  background: #000000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login-container {
  min-height: 350px;
}

.login-form {
  padding: 20px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}
